html{
    overflow-x: hidden;
}

html,body {
    margin: 0;
    padding: 0;
}



.navend {
    justify-content: end;
}

.container {
    justify-content: center; 
    margin-top: 50px;
    margin-left: 450px;
    margin-right: 450px ;
}

.text1 {
    background-size: 100px;
    background-color: gray;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.contain{
    margin-right: 450px;
    margin-left: 450px;
    display: flex;
    justify-content: space-evenly;
}

.text2 {
    column-count: 3;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    margin-left: 480px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.para1 {
    text-align: center;
}

.citation {
    background-color: antiquewhite;
    margin-top: 50px;   
    font-style: italic;
    text-align: center;
}

.payne {
    font-weight: bold;
    font-style: normal; 
}

.end {
    background-color: black;
    background-size: 100px;
    color: white;
    text-align: center;
}