html{
    overflow-x: hidden;
}

html,body {
    margin: 0;
    padding: 0;
}

.container {
    justify-content: center; 
    margin-top: 50px;
    margin-left: 450px;
    margin-right: 450px ;
}

.text1 {
    background-color: gray;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.contain{
    margin-right: 450px;
    margin-left: 450px;
    display: flex;
    justify-content: space-evenly;
}

.text2 {
    text-align: center;
}